
.container {
    margin: auto;
    display: column;
}

.header{
    background-color: black; 
    display: flex;
    justify-content: space-between;  
}

.logoSpotify{
    width: 100px;
    margin-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.menu-icon{
    width: 50px;
    margin-right: 20px;
}

.box1 {
    margin: 0 auto;
    background-color: lightblue;
}

.box2 {
    margin: 0 auto;
    background-color: cyan;
}