:root {
    font-size: 62,5%;
    
}

.container1 {
    margin: auto;
}

.header {
    background-color: black; 
    display: flex;
    justify-content: space-between; 
}

.header__logo{
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box1 {
    margin: 0 auto;
    background-color: lightblue;
}

.box2 {
    margin: 0 auto;
    background-color: cyan;
}

.container2{
    background-color: brown;
    width: 90%;
    height: 65%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.article1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 30px;
}

figure{
    width: 50px;
    height: 50px;
    padding: 20px;

}

.img{
    width: 100%;
}